<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet"
	th:href="@{/vendor/materialize/css/materialize.css}" />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link rel="stylesheet" th:href="@{/vendor/app.css}" />
<title>Dziennik szkolny</title>
</head>
<body>
	<div class="valign-wrapper"
		style="width: 100%; height: 100%; position: absolute;">
		<div class="valign" style="width: 100%;">
			<div class="row center-align " style="height: 100px;">
				<h1>Dziennik szkolny</h1>
			</div>
			<div class="search-bar container">
				<div class="row">
					<div class="col s3 m3 l3"></div>
					<div class="col s6 m6 l6 ">
						<form action="/findStudent" method="get">
							<div class="input-field">
								<input name="name" type="search"
									placeholder="Imię i nazwisko ucznia..." required="required"
									autocomplete="off" /> <i class="material-icons">search</i>
							</div>
						</form>
					</div>
					<div class="col s3 m3 l3"></div>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/vendor/jquery/jquery-1.11.3.js}"></script>
	<script th:src="@{/vendor/materialize/js/materialize.js}"></script>
	<script th:src="@{/app.js}"></script>
</body>
</html>