<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="icon" th:href="@{/favicon.png}" />

<link rel="stylesheet"
	th:href="@{/vendor/materialize/css/materialize.css}" />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link rel="stylesheet" th:href="@{/app.css}" />

<title>Dziennik szkolny > Oceny</title>
</head>
<body>
	<div th:replace="layout :: nav-bar-teacher" />

	<div class="valign" style="width: 100%;">
		<div class="gif-detail container">
			<div class="row">
				<div class="col s12 l12">
					<div class="meta row">
						<div th:replace="layout :: student-profile-teacher" />
						<div class="col l8">
							<h3>Oceny</h3>
							<div>
								<table class="striped">
									<thead>
										<tr>
											<th style="width: 200px;">Przedmiot</th>
											<th>Oceny</th>
										</tr>
									</thead>
									<tbody>
										<!--    <img th:src="@{'/gifs/' + ${gif.name} + '.gif'}" alt="gif" /> -->
										<tr th:each="grades : ${student.grades}">
											<td th:text="${grades.subject.name}">null</td>
											<td style="width: 46%;"><span
												th:each="grade : ${grades.grades}"><span
													th:text="${grade} + ' '"></span></span></td>
											<td class="input-field" id="search">
												<form
													th:action="@{'/teacher/grades/' + ${student.id}} +'/'  + ${grades.id}"
													th:object="${studentList}" method="get">
													<div class="input-field col s3 m3 l3 " id="search">
														<select class="browser-default " id="optionsList"
															name="grade">
															<option value="6">6</option>
															<option value="5">5</option>
															<option value="4">4</option>
															<option value="3">3</option>
															<option value="2">2</option>
															<option value="1">1</option>
														</select>
													</div>
													<div class="input-field col s1 m1 l1 right-align">
														<button style="height: 44px;" value="Wybierz" type="submit"
															class="waves-effect waves-light btn">Dodaj</button>
													</div>
												</form>
											</td>
										</tr>

									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script th:src="@{/vendor/jquery/jquery-1.11.3.js}"></script>
	<script th:src="@{/vendor/materialize/js/materialize.js}"></script>
</body>
</html>