<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="icon" th:href="@{/favicon.png}" />

<link rel="stylesheet"
	th:href="@{/vendor/materialize/css/materialize.css}" />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link rel="stylesheet" th:href="@{/app.css}" />

<title>Dziennik szkolny > Obecności</title>
</head>
<body>
	<div th:replace="layout :: nav-bar-student" />

	<div class="valign" style="width: 100%;">
		<div class="gif-detail container">
			<div class="row">
				<div class="col s12 l12">
					<div class="meta row">
						<div class="col l4">
							<h2 th:text="${student.firstName} + ' ' + ${student.surName}" />
							<h4 th:text="'Klasa: ' + ${student.schoolClass.name}" />
							<h4
								th:text="'Wychowawca: ' + ${student.schoolClass.teacher.firstName} + ' ' + ${student.schoolClass.teacher.surName}" />
							<h4
								th:text="'Telefon: ' + ${student.schoolClass.teacher.phoneNumber}" />
							<h4
								th:text="'E-mail: ' + ${student.schoolClass.teacher.emailAdress}" />
						</div>
						<div class="col l8">
							<h3>Obecności</h3>
							<div>
								<table class="striped">
									<thead>
										<tr>
											<th class="right-align" style="width: 5px;">Lekcja</th>
											<th th:each="weekDay : ${weekDays}">
											<th class="center-align"
												th:text="${#dates.format(weekDay, 'dd-MM-yyyy')}"></th>



											</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="grades : ${student.grades}">
											<td th:text="${grades.subject.name}">null</td>
											<td><span th:each="grade : ${grades.grades}"><span
													th:text="${grade} + ' '"></span></span></td>
										</tr>


									</tbody>
								</table>
							</div>
							<!-- 						<div><p th:text="${#dates.format(attendance, 'dd-MM-yyyy HH:mm')}"></p></div> -->

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script th:src="@{/vendor/jquery/jquery-1.11.3.js}"></script>
	<script th:src="@{/vendor/materialize/js/materialize.js}"></script>
</body>
</html>