<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="icon" th:href="@{/favicon.png}" />

<link rel="stylesheet"
	th:href="@{/vendor/materialize/css/materialize.css}" />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link rel="stylesheet" th:href="@{/app.css}" />

<title>Dziennik szkolny > Obecności</title>
</head>
<body>
	<div th:replace="layout :: nav-bar-teacher" />


	<div class="valign" style="width: 100%;">
		<div class="gif-detail container">
			<div class="row">
				<div class="col s12 l12">
					<div class="meta row">
						<div th:replace="layout :: student-profile-teacher" />
						<div class="col l8">

							<ul class="pagination">
								<h3>
									Obecności

									<li class="waves-effect"><a
										th:href="@{|/teacher/attendance/${student.id}/getPreviousWeek/${attendances[0].day}|}"><i
											class="material-icons">chevron_left</i></a></li>

									<li class="waves-effect"><a
										th:href="@{|/teacher/attendance/${student.id}/getNextWeek/${attendances[0].day}|}"><i
											class="material-icons">chevron_right</i></a></li>
								</h3>
							</ul>
							<div>
								<table class="striped">
									<thead>
										<tr>
											<th style="width: 120px;" class="center-align">Dzień</th>
											<th style="width: 120px;" class="center-align">1</th>
											<th style="width: 120px;" class="center-align">2</th>
											<th style="width: 120px;" class="center-align">3</th>
											<th style="width: 120px;" class="center-align">4</th>
											<th style="width: 120px;" class="center-align">5</th>
											<th style="width: 120px;" class="center-align">6</th>
											<th style="width: 120px;" class="center-align">7</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="attendance : ${attendances}">
											<td class="center-align"
												th:text="${#dates.format(attendance.day, 'dd/MM/yyyy')}">null</td>
											<!-- 											iterStat.index -->
											<th:block
												th:each="attendanceOnClass, iterStat : ${attendance.attendanceOnClass}"
												th:class="${iterStat.odd}? 'odd'">
												<td class="center-align" th:if="${attendanceOnClass}"><a
													th:href="@{|/teacher/attendance/change/${attendance.id}/${iterStat.index}|}">Obecny</a></td>
												<td class="center-align" th:unless="${attendanceOnClass}"><a
													style="color: red;"
													th:href="@{|/teacher/attendance/change/${attendance.id}/${iterStat.index}|}">Nieobecny</a></td>
											</th:block>
										</tr>
									</tbody>
								</table>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script th:src="@{/vendor/jquery/jquery-1.11.3.js}"></script>
	<script th:src="@{/vendor/materialize/js/materialize.js}"></script>
</body>
</html>